/src/.vs/BaseAndApiDocker/FileContentIndex
/src/src/BaseAndApiDocker/obj/Debug/net6.0 
/src/BaseAndApiDocker/src/Database/obj/Debug/net6.0	
/src/BaseAndApiDocker/src/Models/obj/Debug/net6.0	
/src/BaseAndApiDocker/src/Services/obj/Debug/net6.0	

# User-specific files
*.suo
*.user
*.sln.docstates
/src/BaseAndApiDocker/bin/Debug/net6.0
/src/BaseAndApiDocker/obj/Debug/net6.0/refint/BaseAndApiDocker.dll
/src/BaseAndApiDocker/obj/Debug/net6.0/ref/BaseAndApiDocker.dll
/src/Database/obj/Debug/net6.0/ref/Database.dll
/src/Database/obj/Debug/net6.0/refint/Database.dll
